body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 500px;
    margin: 30px auto;
    background:#ff00d9;
    padding: 20px;
    border-radius: 8px;
}

h2, h3 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    height: 80px;
}

.radio-group {
    margin-top: 5px;
}

.radio-group input {
    width: auto;
    margin-right: 5px;
}

.button-group {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4c00ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button.reset {
    background-color: #6735dc;
}